:root {
  --swiper-navigation-size: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  font-weight: bold;
  color: white;
  background-color: var(--color-primary-1);
  padding: 15px;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  transition: outline 0.2s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  outline: color-mix(in srgb, var(--color-primary-1) 60%, transparent) solid 5px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

.swiper {
  padding: 22px;
}

.swiper-slide {
  height: auto;
}
